__pycache__

Build/
logs/

# Visual Studio files and folder
.vs/
.vscode/
**.sln
**.slnx
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

.idea/
Makefile
*.make
*.a


# Log files
**.log
