[submodule "PybindCXX/vendor/spdlog"]
	path = PybindCXX/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
[submodule "PybindCXX/vendor/pybind11"]
	path = PybindCXX/vendor/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "PybindCXX/vendor/yaml-cpp"]
	path = PybindCXX/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
